<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />

        <title>RedFinch</title>

        <!-- Basic SEO -->
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="robots" content="">
        <!-- ./Basic SEO -->

        <!-- Schema.org -->
        <meta itemprop="name" content="">
        <meta itemprop="description" content="">
        <meta itemprop="image" content="/images/meta/meta-logo.png">
        <!-- ./Schema.org -->

        <!-- Open Graph -->
        <meta property="og:type" content="website">
        <meta property="og:site_name" content="">
        <meta property="og:title" content="">
        <meta property="og:description" content="">
        <meta property="og:url" content="" />
        <meta property="og:image" content="/images/meta/meta-logo.png" />
        <!-- ./Open Graph -->

        <!-- Twitter -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="">
        <meta name="twitter:title" content="">
        <meta name="twitter:description" content="">
        <meta name="twitter:url" content="" />
        <meta name="twitter:image" content="/images/meta/meta-logo.png" />
        <!-- ./Twitter -->

        <!-- Crawlers -->
        <meta name="rating" content="general" />
        <meta name="revisit-after" content="1 Month" />
        <!-- ./Crawlers -->

        <!-- Devices -->
        <meta name="application-name" content="" />
        <meta name="theme-color" content="#F7C44F">

        <link rel="mask-icon" href="/images/meta/pinned.svg" color="000000">
        <link rel="apple-touch-icon-precomposed" href="/images/meta/touch-icon.png" />
        <link rel="icon" type="image/png" href="/images/meta/favicon.png" />
        <link rel="icon" sizes="152x152" href="/images/meta/touch-icon.png">

        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <!-- ./Devices -->

        <!-- Styles -->
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i" rel="stylesheet">
        <link rel="stylesheet" href="/assets/css/global.css">
        <!-- ./Styles -->

        <!-- Analytics -->
        <!-- ./Analytics -->
    </head>

    <body>

        <!-- Nav -->
        {% include nav.html %}
        <!-- ./Nav -->